GEMINI_API_KEY=your-gemini-api-key-here
EMBEDDING_MODEL="gemini-embedding-001"
INTENT_MODEL="models/gemini-2.0-flash"

IMAGE_CDN_URL="https://ik.imagekit.io/xyz/food-ordering-system/"

PORT=5200
NODE_ENV=development

# JWT Authentication
JWT_SECRET="super-secret-jwt-key"

